<%= stylesheet_link_tag "ingredients" %>
<%= stylesheet_link_tag "table" %>
<div class="container" id="content">
	<%= render 'ingredienttypes' %>
</div>
<div class="container" id="ingredients-container">
</div>