<ul class="collapsible" data-collapsible="accordion">
	<li id="today-container">
		<%= render 'today' %>
	</li>
	<li id="history-container">
		<%= render 'history' %>
	</li>
</ul>

<!-- Form caché qui est submit via AJAX toutes les 2 minutes pour refresh la page -->
<%= form_tag "refresh", url: refresh_orders_path, remote: true, id: "refresh_form", method: "GET" %>