.row#nomargin
{
	margin: 0;
}

.table
{
	display: table;
	width: 100%;
}

.striped > div.row:nth-child(odd) 
{
    background-color: #D4D1C2;
}

.header
{
	font-weight: bold;
	border-bottom: 1px solid black;
}

.table .col.s1, .table .col.s2, .table .col.s3, .table .col.s4, .table .col.s5, .table .col.s6, .table .col.s7, .table .col.s8, .table .col.s9, .table .col.s10, .table .col.s11, .table .col.s12
{
	margin-top: 15px;
	display: table-cell;
	padding: 15px 5px 5px 15px;
	vertical-align: middle;
}

.table .row input[type=number]
{
	max-width: 50px;	
}

.table .row input
{
	height: 2rem;
	margin-top: -10px;
}

.card-image input
{
	height: 1rem;
}

.btn-floating
{
	margin-top: -5px;
}

div.collapsible-body
{
	background-color: #f7f4f4;
}

.row.selected
{
	background-color: #b8dbf2 !important;
}